In [1]:
import pandas as pd

# Read the data

In [2]:
data = pd.read_csv('../input_data_train.csv')

In [3]:
data.columns

Index(['location', 'product', 'date', 'sa_quantity', 'temp_mean', 'temp_max',
       'temp_min', 'sunshine_quant', 'event', 'price'],
      dtype='object')

In [4]:
data.describe()

,location,product,sa_quantity,temp_mean,temp_max,temp_min,sunshine_quant,price
count,1.011060e+07,1.011060e+07,1.011060e+07,9.706176e+06,9.706176e+06,9.706176e+06,9.706176e+06,8.827168e+06
mean,2.419800e+03,1.850000e+02,8.604586e+00,8.665875e+00,1.173502e+01,5.596728e+00,3.629658e+02,2.875698e+00
std,2.155645e+03,1.065207e+02,1.303595e+01,5.113955e+00,5.717526e+00,4.884786e+00,1.812255e+02,1.911442e+00
min,5.500000e+01,1.000000e+00,0.000000e+00,-6.545000e+00,-2.930000e+00,-1.091000e+01,0.000000e+00,0.000000e+00
25%,4.370000e+02,9.300000e+01,2.000000e+00,4.960000e+00,7.820000e+00,1.970000e+00,2.250000e+02,1.600000e+00
50%,2.166500e+03,1.850000e+02,5.000000e+00,8.510000e+00,1.142000e+01,5.560000e+00,3.380000e+02,2.483333e+00
75%,3.353000e+03,2.770000e+02,1.000000e+01,1.247000e+01,1.598000e+01,9.230000e+00,4.880000e+02,3.300000e+00
max,9.137000e+03,3.690000e+02,8.190000e+02,2.563000e+01,3.028000e+01,2.098000e+01,1.022000e+03,5.610000e+01

## Unique locations

In [5]:
data['location'].unique()

array([1193, 1258, 1300, 1355,  136,  152, 1643,  165, 2011, 2105,  220,
       2228,  246, 2561, 2587, 2590, 2613, 2642, 2655, 2914, 2943,  301,
       3104, 3120, 3175,  327, 3353,  343,  369, 3803, 3926,  437, 4417,
       4514, 4734, 5283, 5429,   55,  576, 6431, 6460, 6473, 6499,  657,
        709,   71,  770,  903, 9137,   97])

## Unique products

In [6]:
data['product'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369])

In [7]:
data['event'].unique()

array(["New Year's Eve", "New Year's Day", "New Year's Day observed",
       '2nd January (substitute day)', nan, 'Epiphany',
       'Orthodox Christmas Day', 'Orthodox New Year', 'Chinese New Year',
       'Burns Night', 'Milad un Nabi (Mawlid)', "Tu B'Shevat (Arbor Day)",
       "Valentine's Day", 'Maha Shivaratri', 'Carnival/Shrove Tuesday',
       'Carnival/Ash Wednesday', "St. David's Day", 'Holi',
       "St Patrick's Day", 'Mothering Sunday',
       "St Patrick's Day observed", 'March equinox',
       'Daylight Saving Time starts', 'Palm Sunday', 'Maundy Thursday',
       'Good Friday', 'Holy Saturday', 'Easter Sunday', 'Easter Monday',
       'Orthodox Good Friday', 'Last day of Passover', 'Orthodox Easter',
       'Orthodox Easter Monday', 'Yom HaShoah', "St. George's Day",
       'Yom HaAtzmaut', 'Early May Bank Holiday', "Lag B'Omer",
       'Ascension Day', 'Pentecost', 'Whit Monday', 'Trinity Sunday',
       'Spring Bank Holiday', "The Queen's Diamond Jubilee",
       'Corpus Christi', "Queen's Birthday", "Father's Day",
       'June Solstice', 'Battle of the Boyne', 'Ramadan Start',
       "Tisha B'Av", 'Raksha Bandhan', 'Summer Bank Holiday',
       'Janmashtami', 'Laylatul Qadr (Night of Power)',
       'Assumption of Mary', 'Eid ul Fitr', 'Rosh Hashana',
       'Ganesh Chaturthi', 'September equinox', 'Yom Kippur',
       'First day of Sukkot', 'Feast of St Francis of Assisi',
       'Hoshana Rabbah', 'Shemini Atzeret', 'Simchat Torah', 'Navaratri',
       'Dussehra', 'Eid ul Adha', 'Daylight Saving Time ends',
       'Halloween', "All Saints' Day", "All Souls' Day", 'Guy Fawkes Day',
       'Remembrance Sunday', 'Diwali/Deepavali',
       'Muharram/Islamic New Year', 'Ashura', "St Andrew's Day",
       'First Sunday of Advent', 'Feast of the Immaculate Conception',
       'First Day of Hanukkah', 'Last day of Hanukkah',
       'December Solstice', 'Christmas Eve', 'Christmas Day',
       'Boxing Day', '2nd January', 'Purim', 'First day of Passover',
       'Shakespeare Day', 'Orthodox Holy Saturday', 'Shavuot',
       "Isra and Mi'raj"], dtype=object)

In [8]:
data['event'].isna()

0           False
1           False
2           False
3           False
4            True
            ...
10110595     True
10110596     True
10110597     True
10110598     True
10110599     True
Name: event, Length: 10110600, dtype: bool

In [9]:
data['is_special_event'] = data['event'].notna().astype(float)

In [10]:
data.describe()

,location,product,sa_quantity,temp_mean,temp_max,temp_min,sunshine_quant,price,is_special_event
count,1.011060e+07,1.011060e+07,1.011060e+07,9.706176e+06,9.706176e+06,9.706176e+06,9.706176e+06,8.827168e+06,1.011060e+07
mean,2.419800e+03,1.850000e+02,8.604586e+00,8.665875e+00,1.173502e+01,5.596728e+00,3.629658e+02,2.875698e+00,2.463504e-01
std,2.155645e+03,1.065207e+02,1.303595e+01,5.113955e+00,5.717526e+00,4.884786e+00,1.812255e+02,1.911442e+00,4.308850e-01
min,5.500000e+01,1.000000e+00,0.000000e+00,-6.545000e+00,-2.930000e+00,-1.091000e+01,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.370000e+02,9.300000e+01,2.000000e+00,4.960000e+00,7.820000e+00,1.970000e+00,2.250000e+02,1.600000e+00,0.000000e+00
50%,2.166500e+03,1.850000e+02,5.000000e+00,8.510000e+00,1.142000e+01,5.560000e+00,3.380000e+02,2.483333e+00,0.000000e+00
75%,3.353000e+03,2.770000e+02,1.000000e+01,1.247000e+01,1.598000e+01,9.230000e+00,4.880000e+02,3.300000e+00,0.000000e+00
max,9.137000e+03,3.690000e+02,8.190000e+02,2.563000e+01,3.028000e+01,2.098000e+01,1.022000e+03,5.610000e+01,1.000000e+00

In [11]:
data['weekday'] = pd.to_datetime(data['date']).dt.weekday

In [12]:
data.describe()

,location,product,sa_quantity,temp_mean,temp_max,temp_min,sunshine_quant,price,is_special_event,weekday
count,1.011060e+07,1.011060e+07,1.011060e+07,9.706176e+06,9.706176e+06,9.706176e+06,9.706176e+06,8.827168e+06,1.011060e+07,1.011060e+07
mean,2.419800e+03,1.850000e+02,8.604586e+00,8.665875e+00,1.173502e+01,5.596728e+00,3.629658e+02,2.875698e+00,2.463504e-01,3.009124e+00
std,2.155645e+03,1.065207e+02,1.303595e+01,5.113955e+00,5.717526e+00,4.884786e+00,1.812255e+02,1.911442e+00,4.308850e-01,2.002259e+00
min,5.500000e+01,1.000000e+00,0.000000e+00,-6.545000e+00,-2.930000e+00,-1.091000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.370000e+02,9.300000e+01,2.000000e+00,4.960000e+00,7.820000e+00,1.970000e+00,2.250000e+02,1.600000e+00,0.000000e+00,1.000000e+00
50%,2.166500e+03,1.850000e+02,5.000000e+00,8.510000e+00,1.142000e+01,5.560000e+00,3.380000e+02,2.483333e+00,0.000000e+00,3.000000e+00
75%,3.353000e+03,2.770000e+02,1.000000e+01,1.247000e+01,1.598000e+01,9.230000e+00,4.880000e+02,3.300000e+00,0.000000e+00,5.000000e+00
max,9.137000e+03,3.690000e+02,8.190000e+02,2.563000e+01,3.028000e+01,2.098000e+01,1.022000e+03,5.610000e+01,1.000000e+00,6.000000e+00

In [13]:
data['date'] = pd.to_datetime(data['date'])

In [14]:
data.describe()

,location,product,sa_quantity,temp_mean,temp_max,temp_min,sunshine_quant,price,is_special_event,weekday
count,1.011060e+07,1.011060e+07,1.011060e+07,9.706176e+06,9.706176e+06,9.706176e+06,9.706176e+06,8.827168e+06,1.011060e+07,1.011060e+07
mean,2.419800e+03,1.850000e+02,8.604586e+00,8.665875e+00,1.173502e+01,5.596728e+00,3.629658e+02,2.875698e+00,2.463504e-01,3.009124e+00
std,2.155645e+03,1.065207e+02,1.303595e+01,5.113955e+00,5.717526e+00,4.884786e+00,1.812255e+02,1.911442e+00,4.308850e-01,2.002259e+00
min,5.500000e+01,1.000000e+00,0.000000e+00,-6.545000e+00,-2.930000e+00,-1.091000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.370000e+02,9.300000e+01,2.000000e+00,4.960000e+00,7.820000e+00,1.970000e+00,2.250000e+02,1.600000e+00,0.000000e+00,1.000000e+00
50%,2.166500e+03,1.850000e+02,5.000000e+00,8.510000e+00,1.142000e+01,5.560000e+00,3.380000e+02,2.483333e+00,0.000000e+00,3.000000e+00
75%,3.353000e+03,2.770000e+02,1.000000e+01,1.247000e+01,1.598000e+01,9.230000e+00,4.880000e+02,3.300000e+00,0.000000e+00,5.000000e+00
max,9.137000e+03,3.690000e+02,8.190000e+02,2.563000e+01,3.028000e+01,2.098000e+01,1.022000e+03,5.610000e+01,1.000000e+00,6.000000e+00